.container {
  margin: 200px auto;
  max-width: 500px;
  min-height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks {
  width: 100%;
}

.singleTask {
  margin: 8px;
  display: flex;
  justify-content: space-around;
}

.singleTask .taskInfo {
  display: flex;
}
